<div class="container">
    <div><h2 align ="center" style="color: black;">Hai {{user.username}} , welcome to retail Banking </h2></div>
    <div><nav class="navbar navbar-expand bg-light">
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" routerLink="transfer">Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="details">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="account">Transaction History</a><!-- create download excel button -->
            </li>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
          </ul>
        </div>
      </nav></div>
</div>
