<div class="container">
   
    <a  (click)="navBack()" style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
    <div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Transaction Form</h2>
        <form [formGroup]="transfer" (ngSubmit)="onSubmit()">
           
    <label for="controlTransaction">Select Type of Transaction:</label>
    <select formControlName="transactionControl" placeholder="select type of transaction" id="controlTransaction" ng-model="transType" (change)="selectInput($event)">
        <option value="credit " selected> credit</option>
        <option value="debit"> debit</option>

    </select>

    <div class="form-group" id="toaccountnumber" ng-hide="transType=='credit'" *ngIf="isDebitSelected">
        <label for="toaccountnumber">To Account Number</label>
        <input type="text" formControlName="toaccountnumber"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.toaccountnumber.errors }" />
        <div *ngIf="submitted && f.toaccountnumber.errors" class="invalid-feedback">
            <div *ngIf="f.toaccountnumber.errors.required">ReceiverNumber is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="transactionamount"> Amount</label>
        <input type="number" formControlName="transactionamount" class="form-control"  />
        
    </div>
    <div class="form-group">
        <button class="btn btn-primary" >Transfer</button>
    </div>
</form>
    </div></div>
</div>
