<div class="container">
    <div><h2 align ="center" style="color: black;">Hello! {{user.username}} , Welcome to Retail Online Banking </h2></div>
    <div><nav class="navbar navbar-expand bg-light">
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
              <a class="nav-link" routerLink="transfer">Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="account"> History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="transactionslist">AllTransactions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="details">My Profile</a>
            </li>
            
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        
          </ul>
        </div>
      </nav></div><br><br><br>
      <h3 style="color: black;">User List</h3>
      <table class="table table-bordered">
        <thead>
            <tr>
              <th> id</th>
              <th>userName</th>
              <th>bankAccountNumber</th>
              <th>balance</th>
              <th>address</th>
              <th>email</th>
              <th>type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users|async">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.bankaccountnumber}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.address}}</td>
                <td>{{user.emailid}}</td>
                <td>{{user.usertype}}</td>
                <div>
                    <span class="btn btn-danger" (click)="editUser(user)" *ngIf='user.usertype==""'>Edit</span>
                   
                    <hr />
                </div>
            </tr>
        </tbody>
    
    </table>
    
</div>
