<div  class="container-fluid">
	<div align="center">
	  <div style="padding-top: 50px;"><nav class="navbar navbar-expand bg-light">
		<div class="navbar-collapse collapse">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  <a class="nav-link" routerLink="home">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" routerLink="login">Login</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" routerLink="register">Register</a>
			</li>
			
		  </ul>
		</div>
	  </nav></div>
	</div>
	
	</div>