<nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
          
        <a class="nav-item nav-link" (click)="navBack()" style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
      </ul>
    </div>
    </nav>
    <nav class="navbar">
        
        <a style="cursor: pointer;background-color: rgb(3, 141, 3);border-radius: 0.5em;" (click)="exportexcel()" >
             Download
          </a>
    </nav>
    <div>
    <table class="table table-bordered" id="fileName">
        <thead>
            <tr>
                <th >id&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
                <th>sender</th>
                <th>receiver</th>
                <th >amount&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
                <th >transactionDate&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
                <th>transactiontype</th>
                <th>balanceondate</th>
                <th>remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.fromaccountnumber}}</td>
                <td>{{transaction.toaccountnumber}}</td>
                <td>{{transaction.transactionamount}}</td>
                <td>{{transaction.transactiondate}}</td>
                <td>{{transaction.transactiontype}}</td>
                <td>{{transaction.balanceondate}}</td>
                <td>{{transaction.remarks}}</td>
            </tr>
        </tbody>
